@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
margin : 0 auto;
width :100%;
overflow-x: hidden;   
}

form{
margin-bottom: 10px;
}
.carte {
width:100%;
height:100%;
text-decoration: none;
color: black;
}

.carteSidebar{
height:100%;
text-decoration: none;
color: black;
}
.carteFiltre{
text-decoration: none;
color: black;
}
.nav_filtre li:hover{
background-color: rgba(144, 201, 240, 0.3);
transition: all 3s ease-out;
box-shadow: 10px 5px 5px #F2F2F2;
}

section img{
object-fit: fill;
}

footer a{
text-decoration: none;
color: black;
}
/** accessibilité **/

.a11y-nav{
position: absolute;
top: -10em;
z-index: 100;
width: 100%;
}
.a11y-nav a{
font-weight: 700;
position: absolute;
left: 0;
right: 0;
text-align: center;
/** top: 10em;**/
padding: 10px;
}
.a11y-nav a:focus,
.a11y-nav a:hover{
top: 10em;
text-decoration: none;
}



.menu{
display: flex;
background-color:#FFFFFF;
padding-left: 5%;

width: 100%;
margin: 0 auto;
/*position: sticky;*/
top: 0px;
}
.logo{
width: 70%;
}
.lien{
width: 30%;
padding-right: 10%;
}
.lien ul{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.lien ul li {
flex: 1 0 auto;/** si ya de la place en trop couvre tout lespace, 0 taille pas plus petit , valeur auto*/
list-style-type: none;
text-align: center;
margin-top: -10px;


}
.lien ul li a{
display: block;
text-decoration: none;
padding-top:30px ;
border-top:5px solid white;
color: black;
font-size: 20px;
}
.lien ul li a:hover{
color: blue;
border-top: 5px solid blue;

}

.container{
margin: 5%;
}
/**
*   section 1 
****/
section{
margin-bottom: 30px;
}

.formV2{
display: flex;
width: 75%;
height: 50px;
margin-top: 20px;
}

.formV2 input[type="text"]{ 
padding: 10px;
width: 40%;
font-size: 19px;
padding-bottom: 10px;
border: 1px solid #F2F2F2;
font-weight: bold;

}


.formV2 label{
background-color: #F2F2F2;
padding:18px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}


.bouttonRecherche{
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0164FC;
    color: white;
    border: 1px solid #0164FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.leButtonSearch{
    background-color: #0164FC;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left:20px;

}

/** filtre **/

.filtres{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.filtres h3 {
    font-weight: bold;
    padding-top: 15px;
}

.filtree{
    border: 2px solid #DCDCDC;
    border-radius: 40px;
    display: inline-block;
    font-weight: bold;
    margin: 20px;
    transform: scale(1);
}
.filtree:hover{
    transform: scale(1.15);
}
.icone{
    font-size: 25px;
    margin-left: -8px;
    margin-top: -2px;
    margin-bottom: -2px;
}

.lightBlue{
    color: #DEEBFF;
}
.blue{
    color: #0065FC;
}
.filtre-content{
    font-size: 20px;
    margin-right: 20px;
    vertical-align: middle;
}

.info_resultat_filtre{
    width: 100%;
}
.info_resultat_filtre{
    display: flex;
    flex-wrap: wrap;
}
.icone_resultat{
    border: 1px solid #F2F2F2;
    border-radius: 40px;
    margin-right: 5px;
    width: 30px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.icone_resultat i{
    font-size: 15px;
    color: #0065FC;
    margin-left: 12px;
    margin-top: 5px;
}
.info{
    padding : 10px;
}

/** section 2 **/
.sec2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.main-sec2{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 4%;
    width: 70%;
}
.main-sec2 h2{
    padding-left: 15px;
}
.les_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box{
    border: 5px solid white;
    border-radius: 20px;
    width: 30%;
    margin-bottom: 15px;
    background-color: white;
}
.box p, .box h4{
    padding-left: 20px;
}

.box img{
    width: 100%;
    height: 130px;
    border: 2px solid none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bleu{
    color: #0065FC;
}

.videIco i{
    color: gainsboro;
}
.afficherPlus{
    margin: 15px;
    font-weight: bold;
}

/**sidebar**/
.sidebar{
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 15px;
    width: 25%;

}
.sidebar h2{
    font-weight: bold;
}
.titre_sidebar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
}
.titre_sidebar i{
    color: black;
    font-size: 16px;
    padding-top: 8px;
}
.box_sidebar{
    display: flex;
    background-color: white;
    border: 2px solid white;
    margin-bottom: 40px;
    border-radius: 10px;

}
.info_box_sidebar{
    padding-left: 10px;
}
.image_box_sidebar{
    border: 1px solid white;
    width: 50%;
    height: 100%;
}
.image_box_sidebar img{
    width: 100%;
    height: 150px;
    object-fit: fill;
    border: 2px solid none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/** section 3 **/

.boxMarseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.laGrandeBox{
    width: 25%;
    border-radius: 15px;
}
.laGrandeBox img{
    width: 100%;
    height: 500px;
    margin-top: -12px;
    border:3px solid none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.lesPetiteBox{
    width: 20%;
    border: 3px solid white;
    border-radius: 20px;
}
.lesPetiteBox img{
    width: 99%;
    height: 200px;
    border: 1px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.box_{
    border-bottom: 2px solid gray;
    border-radius: 20px;
}

.box__{
    
    border-bottom: 2px solid gray;
    border-radius: 20px;
}
.box2_1 img{
    margin-top: -15px;

}
.box2_2 img{
    margin-top: -10px;
}

.box4_1 img{
    margin-top: -15px;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

}
.box4{
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
}
.boxMarseille .description{
    font-weight: bold;
    padding-left: 12px;
}

/** footer **/
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding-left: 5%;
    padding-right: 20%;
}

/**
*  992 px pour les écrans d’ordinateurs et 768 px pour les tablettes, et
* tout ce qui est en dessous de 768 pour les téléphones portables
* Soit  ordinateur meme rendu
***/

/***************************************
* Responsive Tablette breakpoint 992px
************************************/

@media only screen and (max-width:992px)  {
    .container{
        margin: 1%;
    }
    .menu{
        flex-wrap: wrap;
        padding-left: 0px;
    }
    .logo{
        width: 100%;
        text-align: center;
    }
    .lien{
        width: 100%;
    }

    /** section 1 **/

    section{
      margin-bottom: 30px;
    }
      
   .formV2 input[type="text"]{ 
        width: 80%;
    }

    /** section 2 **/  
    .sec2{
        display: flex;
        flex-wrap: wrap;
    }
    .main-sec2{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .les_box{
        flex-wrap: wrap;
    }
     /**sidebar section 2**/
    .sidebar{
        width: 100%;
    }
    .info_box_sidebar{
        background-color: #FFFFFF;
        padding: 15px;
        width: 100%;
    }
   
    /** section 3 **/
    .boxMarseille{         
        flex-direction: row-reverse;
    }
}


/*************************************************
*  mobile 
****************************************/

@media only screen and (max-width: 768px)
{
    .container{
        margin: 20px;
    }
     
    .logo{
        margin: 0 auto;
    }
     
    .lien ul li{
        margin-left:-36px;
    }
     
    .lien ul li a{
        border-bottom: 5px solid white;
        border-top:none;
        color: black;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .lien ul li a:hover{
        color: blue;
        border-top:   none;
        border-bottom: 5px solid blue;
    }

    /**
    *   section 1 
    ****/
    .sec1{
        margin: 10px;
    }
    .sec1 h1{
        font-size: 20px;
    }
    .formV2{
        display: flex;
        width: 100%;
        height: 50px;
    }
    
    .formV2 input[type="text"]{ 
        width: 70%;
        font-size: 20px;
        padding-bottom: 10px;
    }

   .formV2 label{
       width: 8%;
       text-align: center;
       padding-top: 15px;
       border-top-left-radius: 15px;
       border-bottom-left-radius: 15px;
    }
    .info_resultat_filtre{
        flex-wrap: nowrap;
    }

    .bouttonRecherche{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
  
    .content {
        text-indent: -9999px;
        line-height: 0;
      }
    .content::after {
        content: "\1F50E";
        text-indent: 0;
        display: block;
        line-height: initial;
    }

  /** filtre **/
  .filtres{
    margin-left: 0px;
   }
   .filtree{   
        margin: 10px;
    }
   .filtres h3{
       width: 100%;
       margin-left: 10px;
       padding: 0px;
   }
   
   
   
  /** section 2 **/
  .sec2{
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: auto;

  }
  .main-sec2{
      background-color: white;
      border: none;
      margin: 0px;
      padding: 0px;
  }
     
   .les_box{   
        flex-direction: column; 
        width: 100%;
    }
    .box{
        background-color: white;
        width: auto;
    }
    .box img{
        object-fit: fill;       
    }

    /**sidebar**/
    .sidebar{
        border-radius: 0px;
    }
    .image_box_sidebar img{
        object-fit: fill;
    }

    /** section 3 **/
    .sec3{
       margin: auto;
        flex-wrap: wrap;
    }
    .boxMarseille{
        flex-direction: column;

    }
    .laGrandeBox{
        width: auto;
        margin-bottom: 10px;
    }
    .laGrandeBox img{
        height: 160px;
    }
    .lesPetiteBox{
        border: 3px solid white;
        width: auto;
    }
    .sec3 img{
        margin: 0 auto;
        object-fit:fill;
    }
    

     /** footer **/
     footer{
        flex-direction: column;
    }
}