@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin : 0 auto;
    width :100%;
    overflow-x: hidden;   
}

/** accessibilité **/

.a11y-nav{
    position: absolute;
    top: -10em;
    z-index: 100;
    width: 100%;
}
.a11y-nav a{
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    /** top: 10em;**/
    padding: 10px;
}
.a11y-nav a:focus,
.a11y-nav a:hover{
    top: 10em;
    text-decoration: none;
}

.menu{ 
    display: flex;
    background-color:#FFFFFF;
    padding-left: 5%;
    width: 100%;
    margin: 0 auto;
    /*position: sticky;*/
    top: 0px;
}
.logo{
    width: 70%;
    padding-top: 25px;
}
.logo img{
    width: 100px;
    /*height: 60px;*/

}
.lien{
    width: 30%;
    padding-right: 10%;
}
.lien ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lien ul li {
    flex: 1 0 auto;  
    list-style-type: none;
    text-align: center;
    margin-top: -17px;
}
.lien ul li a{
    display: block;
    text-decoration: none;
    padding-top:30px ;
    border-top:5px solid white;
    color: black;
    font-size: 20px;
}
.lien ul li a:hover{
    color: #0065FC;
    border-top: 5px solid #0065FC;

}
.container{
    margin: 5%;
}

/**  section 1 (formulaire) ***/
section{
    margin-bottom: 30px;
}
.mobile__search {
    display: none;
}
.formV2{
    display: flex;
    width: 48%;
    height: 50px;
    margin-top: 20px;
}

.formV2 input[type="text"]{ 
    padding: 10px;
    width: 48%;
    font-size: 19px;
    padding-bottom: 10px;
    border: 1px solid #F2F2F2;
    font-weight: bold;

}
.formV2 label{
    background-color: #F2F2F2;
    padding:18px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.bouttonRecherche{
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0164FC;
    color: white;
    border: 1px solid #0164FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/** filtre **/

.filtres{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.filtres h3 {
    font-weight: bold;
    padding-top: 15px;
}

.filtree{
    border: 2px solid #DCDCDC;
    border-radius: 30px;
    display: inline-block;
    font-weight: bold;
    margin: 20px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}
.filtree:hover{
    transform: scale(1.15);
}
.icone{
    font-size: 25px;
    margin-left: -15px;
    margin-top:-3px;
    margin-bottom:-3px;
}
 

.lightBlue{
    color: #DEEBFF;
}
.blue{
    color: #0065FC;
}
.filtre-content{
    font-size: 20px;
    margin-right: 20px;
    vertical-align: middle;
}

.info_resultat_filtre{
    width: 100%;
}
.info_resultat_filtre{
    display: flex;
    flex-wrap: wrap;
}
.icone_resultat{
    border: 1px solid #F2F2F2;
    border-radius: 40px;
    margin-right: 5px;
    width: 30px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.icone_resultat i{
    font-size: 15px;
    color: #0065FC;
    margin-left: 12px;
    margin-top: 5px;
}
.info{
    padding : 10px;
}

/** 
*
*  section 2 
*  Hebergments A Marseille
**/
.sec2{  
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.box_appear {
    box-shadow: 0px 15px 8px #f6f6f6;/*droite-bas-degre-color */
}
.box_appear:hover{
    transform: scale(0.9, 0.8);
}
.box_appear::after {
    opacity: 1;
}

.carte {
    width:100%;
    height:100%;
    text-decoration: none;
    color: black;
}
.main-sec2{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 3%;
    width: 67%;
}
.main-sec2 h2{
    padding-left: 15px;
}
.les_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box{
    border: 5px solid white;
    border-radius: 20px;
    /*width: 30%;*/
    width: 200px;
    margin-bottom: 25px;
    background-color: white;
    flex-grow: 0;
}
.box p, .box h4{
    padding-left: 20px;
}

.box img{
    width: 100%;
    height: 130px;
    border: 2px solid none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit:cover;
}
.bleu{
    color: #0065FC;
}
.videIco i{
    color: gainsboro;
}
.afficherPlus{
    margin: 15px;
    font-weight: bold;
}
.afficherPlus a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
/**
* Les plus populaire
* sidebar
**/
.sidebar{
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 15px;
    width: 33%;
    height: 710px;
}
.sidebar h2{
    font-weight: bold;
}
 
.titre_sidebar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
}
.titre_sidebar i{
    color: black;
    font-size: 22px;
    padding-top: 8px;
}
.box_sidebar{
    display: flex;
    background-color: white;
    border: 2px solid white;
    margin-bottom: 40px;
    border-radius: 10px;
    flex-grow: 0;

}
.info_box_sidebar{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
    width: 50%;
}
.titre_h4{
   font-size: 16px;
   font-weight: bold;
}

.sidebar-info__item2{
    font-size: 15px;
    margin-top: 10px;
}
.sidebar-info__item3{
    margin-top: auto;
}
.fas-color__none{
    color: gainsboro;
}
.image_box_sidebar{
    border: 1px solid white;
    width: 45%;
    height: 100%;
}
.image_box_sidebar img{
    width: 100%;
    height: 160px;
    object-fit: fill;
    border: 2px solid none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/** section 3 **/

.boxMarseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.boxMarseille div{
    flex-grow: 0;
}
.laGrandeBox{
    width: 25%;
    border-radius: 15px;

}
.box1{
    padding-top: 10px;
}
.laGrandeBox img{
    width: 100%;
    height: 500px;
    margin-top: -12px;
    border:3px solid none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
}

.lesPetiteBox{
    width: 20%;
    border: 3px solid white;
    border-radius: 20px;

}
.lesPetiteBox img{
    width: 99%;
    height: 200px;
    border: 1px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit:cover;

}
.box-marseille__border{
    border-radius: 20px;
}
.box-marseille__mt img{
    margin-top: -15px;

}
.box2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxMarseille .description{
    font-weight: bold;
    padding-left: 12px;
}
.bm__flex-mt{
    margin-top: auto;
}
.bm__item1-mt {
    padding-top: 13px;
}
/** footer **/
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding-left: 5%;
    padding-right: 20%;
}
footer a{
    text-decoration: none;
    color: black;
}

/***************************************
* Responsive Tablette breakpoints 992px
************************************/

@media only screen and (max-width:992px)  {

    .container{
        margin: 1%;
    }
    .menu{
        flex-wrap: wrap;
        padding-left: 0px;
    }
    .logo{
        width: 100%;
        text-align: center;
    }
    .lien{
        width: 100%;
    }
    ul {
        width: 100%;
    }
    .lien ul li{
        margin-left:-37px;
        margin-right: -37px;
    }
    .lien ul li a{
        border-bottom: 5px solid #F2F2F2;
        border-top:none;
        color: black;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .lien ul li a:hover{
        color: #0065FC;
        border-top:   none;
        border-bottom: 5px solid #0065FC;
    }
    /** section 1 **/
    section{
      margin-bottom: 30px;
    }  
   .formV2 input[type="text"]{ 
        width: 80%;
    }

    /** section 2 **/  
    .sec2{
        display: flex;
        flex-wrap: wrap;
    }
    .main-sec2{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .les_box{
        flex-wrap: wrap;
    }
     /**sidebar section 2**/
    .sidebar{
        width: 100%;
        height: auto;
    }
    .info_box_sidebar{
        background-color: #FFFFFF;
        padding: 15px;
        width: 100%;
    }
    /** section 3 **/
    .boxMarseille{         
        flex-direction: row-reverse;
    }
}
/*************************************************
*  mobile 
****************************************/

@media only screen and (max-width: 768px)
{
    .container{
        /*margin: 20px;*/
    }
     
    .logo{
        margin: 0 auto;
    }
     
    ul {
        width: 100%;
    }
    .lien ul li{
        margin-left:-37px;
        margin-right: -20px;
        width: 50%;
    }
     
    .lien ul li a{
        border-bottom: 5px solid #F2F2F2;
        border-top:none;
        color: black;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .lien ul li a:hover{
        color: #0065FC;
        border-top:   none;
        border-bottom: 5px solid #0065FC;
    }
    /** section 1 ****/
    
    .sec1{
        margin: 10px;
    }
    .sec1 h1{
        font-size: 20px;
        margin:  20px;
        margin-left: 10px;
    }
    .description_sec1{
        margin-left: 10px;
    }
    .formV2{
        display: flex;
        width: 100%;
        height: 50px;
         
    }
    .formV2 input[type="text"]{ 
        width: 70%;
        font-size: 20px;
        padding-bottom: 10px;
    }
   .formV2 label{
       width: 8%;
       text-align: center;
       padding-top: 15px;
       border-top-left-radius: 15px;
       border-bottom-left-radius: 15px;
    }
    .info_resultat_filtre{
        flex-wrap: nowrap;
    }
    .desktop_searche{
        display: none;
    }
    .mobile__search{
        display: block;
    }
    .bouttonRecherche{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
  /** filtre **/
  .filtres{
    margin:auto;
   }
   .filtree{   
        margin: 6px;
    }
    .filtre-content {
        font-size: 13px;
        font-weight: bold;
    }
   .filtres h3{
       width: 100%;
       margin-left: 10px;
       padding: 0px;
   }
   .icone_resultat{
    margin-bottom: 35px;
    margin-top: 20px;
   }  
  /** section 2 Hebergement A marseille **/
  .sec2{
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .sec2 img {
      object-fit: cover;
  }
  .main-sec2{
      background-color: white;
      border: none;
      margin: 0px;
      padding: 0px;
  }
     
   .les_box{   
        flex-direction: column; 
        width: 100%;
        margin-left: 15px;
    }
    .box{
        background-color: white;
        width: 91%;
    }
     
    .afficherPlus{
        margin: 0px;
        font-weight: bold;
        font-size: 25px;
        margin-top: 15px;
        margin-left: 20px;
    }

    /** Les plus populaire  .sidebar**/
    .sidebar{
        border-radius: 0px;
         margin: 0px;
        height: auto;

    }
    .info_box_sidebar{
        width: 55%;
    }
    .titre_sidebar{
          justify-content: space-around;
    }
    .titre_sidebar h2{
        margin-left: -30px;
        margin-right: 10px;
    }
    .box_sidebar{
        width: 90%;
    }
    .image_box_sidebar img{
        object-fit: fill;
    }

    /** section 3 Activete A Marseille **/
    .sec3{
       margin: auto;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .titre-sec3 {
        margin-left: 20px;
    }
    .boxMarseille{
        flex-direction: column;
        margin: 20px;
        margin-left: 10px;
    }
     
    .laGrandeBox{
        width: auto;
        margin-bottom: 15px;
    }
    .laGrandeBox img{
        height: 160px;
    }
    .lesPetiteBox{
        border: 3px solid white;
        width: auto;
        margin-bottom: 30px;
    }
    .box-marseille__mt{
        margin-top: 20px;
    }
    .sec3 img{    
        object-fit:cover;
    }
     /** footer **/
     footer{
        flex-direction: column;
    }
}